body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
}

.container {
  background-color: aquamarine;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
